@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz@1,6..12&display=swap');

@font-face {
    font-family: 'Black Mango';
    src: url(fonts/Black\ Mango\ Regular.ttf);
}

body {
    margin: 0;
    padding: 0;
}

nav {
    background-color: transparent;
    height: 130px;

}

ul {
    list-style-type: none;
    margin: 0;
}

li {
    display: inline-block;
    margin: 30px;
    position: relative;
    top: 40px;
    left: 90px;
}

li a {
    text-decoration: none;
    color: black;
    font-family: 'Inter', sans-serif;
}

/*Ajoute une bordure rouge en dessous des liens li*/
li a:hover {
    border-bottom: 2px solid red;
}

/*Correspond à la photo du logo "Fashion"*/
#logo {
    width: 250px;
    display: block;
    margin: 0 auto;
    position: relative;
    top: -40px;

}

/*Représente les icones loupe, coeur, panier etc*/
.icones img {
    margin: 12px;
    position: relative;
    left: 155vh;
    top: -100px;

}

/*Représente la vidéo mise en bannière*/
video {
    width: 100%;
    
}

/*Correspond à la photo à l'intérieur de la figure qui as l'id photoFemme */
#photoFemme img {
    object-fit: cover;
    object-position: center;
    height: 400px;
}

/*Correspond à la figure portant l'id de photoFemme (le container de l'image de la femme*/
#photoFemme {
    width: 400px;
    height: 400px;
    position: relative;
    left: 49%;
    margin-top: 100px;

}

/*Correspond à la figure portant l'id de photoHomme (le container de l'image de l'homme*/
#photoHomme {
    width: 400px;
    height: 400px;
    position: relative;
    top: -60px;
    left: 22%;

}

/*Correspond à la photo de l'homme à l'intérieur de la figure qui as l'id photoHomme */
#photoHomme img {
    object-fit: cover;
    object-position: center;
    height: 400px;
    width: 400px;
}

/*Correspond à tous les paragraphes à l'intérieur de la balise section*/
section p {
    font-family: 'Nunito Sans', sans-serif;
    font-weight: bold;
    letter-spacing: 2px;
    font-size: 25px;
}

/*paragraphe "Femmes collection 2024" avec un id pour pouvoir changer le positionnement*/
#collectionFemme {
    position: relative;
    bottom: 270px;
    left: 30%;
}

/*Classe shopNow car y'a plusieurs lien "SHOP NOW" et ils auront le même style*/
.shopNow {
    font-family: 'Inter', sans-serif;
    text-decoration: none;
    color: black;
    font-size: 13px;
    letter-spacing: 2px;
    font-weight: 700;
}

/*Ajoute une bordure en bas au survol des SHOP NOW*/
.shopNow:hover {
    border-bottom: 2px solid red;
}

/*Ajout d'un id pour changer les SHOP NOW de manière individuelle, celui ci est celui de la collection femmes*/
#Shop1 {
    position: relative;
    bottom: 270px;
    left: 36%;
}

/*paragraphe "Hommes collection 2024" avec un id pour pouvoir changer le positionnement (qui est différent des autres)*/
#collectionHomme {
    position: relative;
    left: 48%;
    top: -320px;
}

/*Ajout d'un id pour changer les SHOP NOW de manière individuelle, celui ci est celui de la collection hommes*/
#Shop2 {
    position: relative;
    left: 54%;
    top: -320px;
}

/*Correspond à la figure portant l'id d'accessoires' (le container de l'image des accessoires*/
#accessoires {
    width: 400px;
    height: 400px;
    position: relative;
    top: -150px;
    left: 110vh;

}

/*Correspond à la photo des accessoires à l'intérieur de la figure qui as l'id accessoires */
#accessoires img {
    object-fit: cover;
    object-position: center;
    height: 400px;
    width: 400px;
}

/*paragraphe "Accessoires collection 2024" avec un id pour pouvoir changer le positionnement (qui est différent des autres)*/
#collectionAccessoires {
    position: relative;
    left: 32%;
    top: -390px;
}

/*Ajout d'un id pour changer les SHOP NOW de manière individuelle, celui ci est celui de la collection accessoires*/
#Shop3 {
    position: relative;
    left: 39%;
    top: -390px;
}

footer {
    background-color: #b8c1d5;
    height: 350px;
    padding-top: 70px;
}