@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz@1,6..12&display=swap');

@font-face {
    font-family: 'Black Mango';
    src: url(fonts/Black\ Mango\ Regular.ttf);
}

body {
    margin: 0;
    padding: 0;
}

nav {
    background-color: transparent;
    height: 130px;

}

ul {
    list-style-type: none;
    margin: 0;
}

li {
    display: inline-block;
    margin: 30px;
    position: relative;
    top: 40px;
    left: 90px;
}

li a {
    text-decoration: none;
    color: black;
    font-family: 'Inter', sans-serif;
}

li a:hover {
    border-bottom: 2px solid red;
}

#logo {
    width: 250px;
    display: block;
    margin: 0 auto;
    position: relative;
    top: -40px;

}

.icones img {
    margin: 12px;
    position: relative;
    left: 155vh;
    top: -100px;

}

video {
    width: 100%;
    max-height: 60em;
}

#photoFemme img {
    object-fit: cover;
    object-position: center;
    height: 400px;
}

#photoFemme {
    width: 400px;
    height: 400px;
    position: relative;
    left: 49%;
    margin-top: 100px;

}

#photoHomme {
    width: 400px;
    height: 400px;
    position: relative;
    top: -60px;
    left: 22%;

}

#photoHomme img {
    object-fit: cover;
    object-position: center;
    height: 400px;
    width: 400px;
}

p {
    font-family: 'Nunito Sans', sans-serif;
    font-weight: bold;
    letter-spacing: 2px;
    font-size: 25px;
}

/*paragraphe "Femmes collection 2024" avec un id pour pouvoir changer le positionnement*/
#collectionFemme {
    position: relative;
    bottom: 270px;
    left: 30%;
}

/*Classe shopNow car y'en a plusieurs et ils auront le même style*/
.shopNow {
    font-family: 'Inter', sans-serif;
    text-decoration: none;
    color: black;
    font-size: 13px;
    letter-spacing: 2px;
    font-weight: 700;
}

.shopNow:hover {
    border-bottom: 2px solid red;
}

/*Ajout d'un id pour changer les SHOP NOW de manière individuelle*/
#Shop1 {
    position: relative;
    bottom: 270px;
    left: 36%;
}

#collectionHomme {
    position: relative;
    left: 48%;
    top: -320px;
}

#Shop2 {
    position: relative;
    left: 54%;
    top: -320px;
}

#accessoires {
    width: 400px;
    height: 400px;
    position: relative;
    top: -150px;
    left: 110vh;

}

#accessoires img {
    object-fit: cover;
    object-position: center;
    height: 400px;
    width: 400px;
}

#collectionAccessoires {
    position: relative;
    left: 32%;
    top: -390px;
}

#Shop3 {
    position: relative;
    left: 39%;
    top: -390px;
}